.container {
    display: flex;
    align-items: center;

    background-color: transparent;
    border: 1px solid var(--text-color-primary);

    height: 48px;
    margin-right: 12px;

    width: 100%;
}

.input {
    background-color: transparent;
    outline: none;
    border: none;
}

.searchIcon {
    font-size: 17px;

    margin-left: 15px;
    margin-right: 17px;
    color: #616475;
}