.main {
    display: flex;
    justify-content: space-between;

}

@media (max-width: 600px) {


    .main {
        width: fit-content;
        display: flex;
        flex-direction: column;


    }
}