.button {
    border: none;

    background-color: #3C47E9;
    color: var(--text-color-primary);

    height: 48px;

    padding-left: 18px;
    padding-right: 14px;

    cursor: pointer;

    transition: all 200ms ease-in-out;
}

.button:hover {

    background-color: #626be9;
}